body
{
    font-family: arial;
    margin: 0px;
}

.page
{
    width: 880px;
    margin: auto;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(170, 170, 170);
}

nav
{
    height: 70px;
    display: flex;
}

.secondary-block
{
    color: white;
    background-color: rgb(4, 117, 186);
}

.secondary-block:hover
{
    color: rgb(187, 184, 24);
}

section:hover
{
    color: rgb(153, 81, 29);
}

a
{
    color: white;
}

nav h2
{
    margin: -5px;
    padding: 20px 0px 20px 15px;
}

nav ul
{
    display: flex;
    margin: 0px;
    padding: 24px;
    list-style: none;
}

nav li
{
    margin-left: 15px;
}

header
{
    text-align: center;
    padding: 20px;
}

.content
{
    max-width: 800px;
    margin: 0 auto;
}

header h2
{
    color: rgb(4, 117, 186);
}

header img
{
    width: 170px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
    transform: rotate(270deg);
}

section
{
    padding: 5px;
}

#xp ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#xp li
{
    margin-bottom: 10px;
}

#xp aside
{
    float: right;
}

#education ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#education li
{
    margin-bottom: 10px;
}

#education aside
{
    float: right;
}
#passion p
{
    display: inline-block;
    padding-right: 80px;
}

footer
{
    padding: 40px;
}

footer ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.links
{
    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
}